<h1>Uploaded Files</h1>

<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <%= document.file.filename %> <!-- Display the filename -->
        <%= link_to 'Download', url_for(document.file) %> <!-- Link to download the file -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No files have been uploaded yet.</p>
<% end %>

<%= link_to 'Upload New File', new_document_path %> <!-- Link to the new upload form -->